<?xml version="1.0" encoding="UTF-8"?>
<manifest
  xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="de.noxsense.kotlin.bunqsimpleapp.app"
  >
  <uses-permission android:name="android.permission.INTERNET"/>
  <application
    android:allowBackup="true"
    android:icon="@mipmap/pic_on_bunq"
    android:roundIcon="@mipmap/pic_on_bunq_round"
    android:label="@string/app_name"
    android:supportsRtl="true"
    android:theme="@style/AppTheme"
    tools:ignore="AllowBackup"
    >
    <activity
      android:name=".MainActivity"
      >
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity
      android:name=".NewPaymentActivity"
      >
      <intent-filter>
        <action
          android:name="android.intent.action.NEW_PAYMENT"/>
        <category
          android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
  </application>
</manifest>
